<p class="footer__heading">Accepted payment methods</p>
<ul class="social-icons is-flex is-flex-wrap">
  <li>
    <a href="{{ settings.twitter_link }}" rel="me" target="_blank"  rel="noopener"class="icon-twitter">
      <img src="{{ '1.png' | asset_url }}">
    </a>
  </li>
  <li>
    <a href="{{ settings.twitter_link }}" rel="me" target="_blank"  rel="noopener"class="icon-twitter">
      <img src="{{ '2.png' | asset_url }}">
    </a>
  </li>
  <li>
    <a href="{{ settings.twitter_link }}" rel="me" target="_blank"  rel="noopener"class="icon-twitter">
      <img src="{{ '3.png' | asset_url }}">
    </a>
  </li>
  <li>
    <a href="{{ settings.twitter_link }}" rel="me" target="_blank"  rel="noopener"class="icon-twitter">
      <img src="{{ '4.png' | asset_url }}">
    </a>
  </li>
  <li>
    <a href="{{ settings.twitter_link }}" rel="me" target="_blank"  rel="noopener"class="icon-twitter">
      <img src="{{ '5.png' | asset_url }}">
    </a>
  </li>
  <li>
    <a href="{{ settings.twitter_link }}" rel="me" target="_blank"  rel="noopener"class="icon-twitter">
      <img src="{{ '6.png' | asset_url }}">
    </a>
  </li>
  <li>
    <a href="{{ settings.twitter_link }}" rel="me" target="_blank"  rel="noopener"class="icon-twitter">
      <img src="{{ '7.png' | asset_url }}">
    </a>
  </li>
  <li>
    <a href="{{ settings.twitter_link }}" rel="me" target="_blank"  rel="noopener"class="icon-twitter">
      <img src="{{ '8.png' | asset_url }}">
    </a>
  </li>
  <li>
    <a href="{{ settings.twitter_link }}" rel="me" target="_blank"  rel="noopener"class="icon-twitter">
      <img src="{{ '9.png' | asset_url }}">
    </a>
  </li>
  <li>
    <a href="{{ settings.twitter_link }}" rel="me" target="_blank"  rel="noopener"class="icon-twitter">
      <img src="{{ '10.png' | asset_url }}">
    </a>
  </li>
</ul>
